
<%= form_tag users_path, method: "get" do -%>
  <%= text_field_tag 'name' %>

  <%= submit_tag "Search Friends" %>
<% end %>

<div="all_friends">

<%= render partial: '/users/view_all_friends'%>

</div>
