<section class="profile">
  <img src="http://upload.wikimedia.org/wikipedia/en/9/99/Itispat.jpg">
  <h2>Pat Bob</h2>
  <p>Member Since: Jun, 1908</p>
  <span>pat@pat.com</span>
  <a href="">facebook</a>
  <a href="">twitter</a>
  <a href="">instagram</a>
  <div id="status_bar">
    <ul>
      <li class="status">Status: BANNED</li>
      <li class="karma">Karma: -4</li>
      <li class="about">About: Pat is a man?</li>
    </ul>
  </div>

</section>
