<div class="new_post"> 
   <%= form_for :post, url: user_posts_path(current_user) do |f| %>
    <p>
      <%= f.text_field :title, :placeholder => "Create a Post, Bitch....          (The Title Goes Here)" %>
    </p>
    <p>
      <%= f.text_area :text_field, size: "70x2", :placeholder => "Content" %>
    </p>
    <p>
      <%= f.submit "Post" %>
    </p>
    <% end %>
</div>
